<div class="home-banner">
  <h1>Discover the world of drinks</h1>
  <h2><strong>or share your recipe</strong></h2>
  <br>
  <%= link_to "Add a cocktail", new_cocktail_path, class:"btn btn-light m-3" %>
</div>

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <h2 style="text-align: center">Life is better with a good cocktail. Choose yours!</h2>
  </div>
  <br>
    <div class="cards display-grid mb-3">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
        <% if cocktail.photo.attached? %>
          <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo.key %>')">
            <h2><%= cocktail.name %></h2>
          </div>
        <% else  %>
          <div class="card" style="background-image: url('<%= image_path('whitecocktail.jpeg')%>')">
              <h2><%= cocktail.name %></h2>
          </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
</div>

