<div class="cocktails-banner">
</div>

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <h1 style="text-align: center"><strong> <%= @cocktail.name %> </strong></h1>
  </div>
  <div class="align-bottom text-center">
    <%= link_to ('<i class="fas fa-plus"></i> Add an ingredient').html_safe, new_cocktail_dose_path(@cocktail), class: "btn btn-dark m-3" %>
    <%= link_to ('<i class="fas fa-trash"></i> Delete a cocktail').html_safe, cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-light" %>
  </div>
  <br>
    <h3>Ingredients</h3>
    <br>
    <div class="cards display-grid mb-3">
      <ol>
        <% @cocktail.doses.each do |dose| %>
          <h5><li><%= dose.ingredient.name %> - <%= dose.description %></li></h5>
        <% end %>
      </ol>
    <div>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>
