<div class="cocktails-banner">
</div>

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <h1 style="text-align: center"><strong> <%= @cocktail.name %> </strong></h1>
  </div>
  <div class="align-bottom text-center">
    <%= link_to ('<i class="fas fa-plus"></i> Add an ingredient').html_safe, new_cocktail_dose_path(@cocktail), class: "btn btn-dark m-3" %>
    <%= link_to ('<i class="fas fa-trash"></i> Delete a cocktail').html_safe, cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-light" %>
  </div>
</div>
<br>
<div class="row justify-content-around" style="margin: 0">
  <div class="d-inline-flex p-2">
    <ol>
      <% @cocktail.doses.each do |dose| %>
        <h5><li><%= dose.ingredient.name %> - <%= dose.description %></li></h5>
      <% end %>
    </ol>
  </div>
  <div class="d-inline-flex p-2">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, width: 400, height: 250 %>
    <% else %>
      <%= image_tag 'whitecocktail.jpg', width: 380, height: 250 %>
    <% end %>
  </div>
</div>

