<div class="container-fluid mt-5">
  <div class="row justify-content-around">
    <div>
      <i><%= cl_image_tag("barthekeserious_duprdv",width: 970, height: 250, crop: :fill) %></i>
    </div>
      <div  class="p-5">
        <div class="container">
          <%= simple_form_for [@cocktail, @dose] do |f| -%>
            <%= f.input :description %>
            <%= f.association :ingredient %>
            <%= f.submit "Add an ingredient", class: "btn btn-dark" %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
